@charset "utf-8";
/*css reset-uimaker.com版权所有*/
*{margin:0;padding:0;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td , i{
	margin:0;
	padding:0;
	border:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}
tbody.__data tr:nth-child(odd) td{
	background-color: #F7FBFD;

}

tbody.__data tr:nth-child(even) td{
	background-color: #f0f0f0;
}

tbody.__bodyfront tr:nth-child(odd) td{
	background-color: #F7FBFD;

}

tbody.__bodyfront tr:nth-child(even) td{
	background-color: #f0f0f0;
}
body {line-height:1.5;}
table {border-collapse: collapse;border-spacing:0;}
caption, th, td ,b,strong{text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}
em,cite{font-style:normal;}


body { background:#fff; font: 13px/1.5 'Microsoft Yahei',Tahoma,'微软雅黑';color:#000;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
a {text-decoration:none;cursor:pointer;}
dl, dt, dd, ol, ul, li{ list-style:none;}

/*some common class*/
.left{float:left;}
.right{float:right;}

/*clear*/
.ue-clear:after{content: ".";display:block;height:0;clear:both;visibility:hidden;overflow: hidden;}
.ue-clear{display:inline-block;}
*html .ue-clear{height:1%;}
.ue-clear{display:block;}

a{color:#0080cc;}
a:hover{color:#267A01;text-decoration:underline;}

.impInfo{color:#fc0000;}

/*choose样式*/
.choose{float:left;margin-right:15px;white-space:nowrap;}
.choose .text{float:left;padding-left:20px;*padding-left:16px;white-space:nowrap; vertical-align:text-bottom;}
.choose input[type=radio],.choose input[type=checkbox]{position:relative;*top:-3px;float:left;margin-right:-16px;}

/*====================================
  分页信息（表格依赖样式）
  ===================================*/
.pagination{font-size:14px;}
.pagination a {text-decoration: none;}
.pagination .pxofy{float:right;margin-right: 15px;height:25px;*padding-top:1px;}
.pagination a, .pagination span {display: block;float: left;height:32px;line-height:32px;padding:0 10px;font-family:Arial, Helvetica, sans-serif !important;}
.pagination .current {cursor:default;border: solid 1px ;}
.pagination .prev, .pagination .next{/*line-height:22px;*/}

/*分页样式*/
.pagination a,.pagination span{color: #3399cc;border:1px solid #dddddd;border-left:none;}
.pagination .current{color:#fff;background:#26a3de;border:1px solid #2396cc;}
.pagination .current.prev, .pagination .current.next{color:#B9B9B9;border-color:#D3D3D3;background:#fff;}
.pagination .prev{ border-top-left-radius:3px;border-bottom-left-radius:3px;}
.pagination .next{ border-top-right-radius:3px;border-bottom-right-radius:3px;}
.pagination a:first-child{ border-left:1px solid #ddd;}
.pagination .pxofy{color: #023054;}


textarea{height:80px; background:none;}

/*====================================
  表单样式
  ===================================*/
.kv-item{margin-bottom:10px;font-size:12px;}
.kv-item label,.kv-item .kv-item-label{position:relative;float:left;padding-left:7px;width:6em;height:26px;line-height:26px;}
.kv-item label.filter-document {padding-left:0;}
.kv-item label .impInfo,.kv-item .kv-item-label .impInfo{ position:absolute;left:0;}
.kv-item-content{float:left;}
.kv-item .input{float:left;width:100%;margin-top:5px;}
.kv-item .input:first-child{margin-top:0;}
/*输入框，文本域， 密码输入框样式*/
.kv-item input[type=text],.kv-item textarea,.kv-item input[type=password],.kv-item input[type=file],.kv-item .file{width:375px;height:26px;border-width:1px;border-style:solid;border-left-color:#c5c5c5;border-top-color:#c5c5c5;border-right-color:#e0e0e0;border-bottom-color:#e0e0e0;*line-height:26px;outline:none; background:url(../img/skin_/inputbg.png);padding:0 10px;}
.kv-item input[type=text].error-input,.kv-item textarea.error-input,.kv-item input[type=password].error-input{border:1px solid #e60000;background:#fff2f4;}
.kv-item textarea{height:80px;overflow-y:auto;resize:none; background:none;padding:5px 10px;}
.kv-item select{width:100px;height:30px;}
.kv-item label.assigned-user {padding-left:0;}
/*表单中的radio框以及checkbox框的样式*/
.kv-item .choose{position:relative;top:6px;float:left;margin-right:15px;white-space:nowrap;}
.kv-item .choose .text{float:left;padding-left:5px;*padding-left:5px;white-space:nowrap;}
.kv-item .choose input[type=radio],.kv-item .choose input[type=checkbox]{position:relative;*position:static;float:left;margin-right:-16px;}
/*下拉框样式*/
.iselect-wrapper{position:relative;width:370px;height:28px;padding:0 20px 0 5px;line-height:28px;border-width:1px;border-style:solid;border-left-color:#c5c5c5;border-top-color:#c5c5c5;border-right-color:#e0e0e0;border-bottom-color:#e0e0e0;background:url(../img/skin_/select_normal.png) no-repeat right center #fff;}
.iselect-wrapper:hover{background:url(../img/skin_/select_hover.png) no-repeat right center #fff;}
.iselect-wrapper .iselect{position:absolute;top:-2px;*top:3px;left:-1px;opacity:0;filter:alpha(opacity=0);outline:0 none;z-index:2;}
/*一段区域数值输入（比如时间段，数字段等）*/
.kv-item.interval input[type=text],.kv-item .interval input[type=text]{float:left;width:100px;}
.kv-item .division{float:left;margin:0 5px;color:#666;}
/*表单中的提示信息*/
.kv-item-tip{float:left;margin-left:20px;color:#a5a5a5;height:30px;line-height:30px;}
.kv-item-tip .tipText{margin-top:1px;}
.kv-item-tip.error{color:#fc0000;}
.kv-item-tip.success{color:#5cb85c;}
.kv-item-tip.warn{color:#f0ad4e;}
/*.kv-item-tip{margin-left:397px;*margin-left:0;}*/
.kv-item-tip .ue-icon{margin:2px 8px 0 5px;*margin-left:2px;}
.kv-item-tip .ue-state-highlight .tipText{color:#FAAB00;}

.kv-item .file{position:relative;line-height:30px;}
.kv-item .file input[type=file]{position:absolute;right:0px;z-index:1;width:72px;height:35px; opacity:0;filter:alpha(opacity=0);cursor:pointer;}
.kv-item .file input[type=button]{position:absolute;right:0;top:0;width:72px;z-index:0;height:26px;border-top:none;border-bottom:none;border-radius:0;border-right:none; font-family:'Microsoft Yahei','微软雅黑';font-size:14px;}

.color5{color:#a9a9a9;}

/*radio样式*/
.checkboxouter {float:left;position:relative; margin:0 auto; width:16px; height:16px; background:url(../img/skin_/radio.png);}
.checkboxouter input[type="radio"] {opacity: 0;filter:alpha(opacity=0);background:red; position: absolute; cursor: pointer; z-index: 1; height: 100%; width: 100%; left: 0;  top: 0;}
.checkboxouter .radio{position:absolute;left:0;top:0;height:16px; width: 16px;background:none;}
.checkboxouter input[type="radio"]:checked ~.radio {background:url(../img/skin_/radiochecked.png)}
.checkboxouter input[type="radio"].checked ~.radio {background:url(../img/skin_/radiochecked.png)}

/*千里之外*/
.outwindow{position:fixed;left:-10000px;top:-10000px;}

/*小图标*/
.time-icon{float:left;width:16px;height:16px; background:url(../img/skin_/date.png);}

/*下拉面板样式*/
.opt-panel{position:absolute;padding:10px 10px 15px 10px; z-index:111;}
.opt-panel ul{background:#fff;}
.opt-panel .opt-panel-tl{position:absolute;left:0;top:0;width:10px;height:10px; background:url(../img/skin_/opt/tleft.png);}
.opt-panel .opt-panel-tc{position:absolute;left:10px;right:10px;top:0;height:10px; background:url(../img/skin_/opt/tcenter.png);}
.opt-panel .opt-panel-tr{position:absolute;right:0;top:0;width:10px;height:10px; background:url(../img/skin_/opt/tright.png);}

.opt-panel .opt-panel-ml{position:absolute;left:0;top:10px;bottom:15px;width:10px;background:url(../img/skin_/opt/cleft.png);}
.opt-panel .opt-panel-mr{position:absolute;right:0;top:10px;bottom:15px;width:10px; background:url(../img/skin_/opt/cright.png);}

.opt-panel .opt-panel-bl{position:absolute;left:0;bottom:0;width:10px;height:15px; background:url(../img/skin_/opt/dleft.png)}
.opt-panel .opt-panel-bc{position:absolute;left:10px;right:10px;bottom:0;height:15px; background:url(../img/skin_/opt/dcenter.png);}
.opt-panel .opt-panel-br{position:absolute;right:0;bottom:0;width:10px;height:15px; background:url(../img/skin_/opt/dright.png);}
.opt-panel .opt-panel-arrow{position:absolute;width:14px;;height:7px;top:-5px;left:30px; background:url(../img/skin_/opt/xljt.png);}

/*事实内容*/
#fact-content {font-size: 15px;line-height: 24px; border:1px solid #cfcfcf; padding:7px;background-color: #eef8ff;}

/*事实选择按钮*/
#fact-nav-wrapper { /*width: 720px*/}
.fact-nav {font-size:14px;float: left;/*width: 720px;*/}
.fact-nav a {text-decoration: none;}
.fact-nav a, .fact-nav span {display: block;float: left;height:32px;line-height:32px;padding:0 10px;font-family:Arial, Helvetica, sans-serif !important;}
.fact-nav .current {cursor:default;}

.fact-nav a,.fact-nav span{text-align:center; width:50px;color: #3399cc;border:1px solid #dddddd;border-left:1px solid #ddd;border-collapse: collapse;margin-top: 3px}
.fact-nav a,.fact-nav span{border-bottom: 3px solid;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}
.fact-nav .current{color:#fff;background: #26a3de;border-top:1px solid #2396cc;border-left:1px solid #2396cc;border-right:1px solid #2396cc;}
.fact-nav a.marked,.fact-nav span.marked {border-bottom-color: #06d700;}
.fact-nav a.unmarked,.fact-nav span.unmarked {border-bottom-color: orangered;}


/*button样式*/
.button{display:inline-block;width:125px; height:35px; background:url(../img/skin_/formbtnbg.png);
	border:none; border-radius:3px;color:#fff; font-size:16px; cursor:pointer;
	font-family: 'Microsoft Yahei', '微软雅黑', serif;}
/*.button:hover{border: 5px red solid}*/
/*.button:active{border: 5px red solid}*/
.button.normal{background:url(../img/skin_/dialogbtn.png);border:1px solid #c0c0c0;color:#000;font-size:15px;}
.button.long2{width:100px;}
.button#submit-marks[disabled] {border: 1px solid #DDD;background: #F5F5F5;color:#ACA899;cursor:default;}
/* white */
.white {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}
/* blue */
.blue {
	/*color: #d9eef7;*/
	border: solid 1px #0076a3;
	background: #299cdc;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}
/* red */
.red {
	color: #faddde;
	border: solid 1px #980c10;
	background: #d81b21;
	background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
	background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.red:hover {
	background: #b61318;
	background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
	background: -moz-linear-gradient(top,  #c9151b,  #a11115);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}
.red:active {
	color: #de898c;
	background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
	background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}
/* gray */
.gray {
	color: #e9e9e9;
	border: solid 1px #555;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top,  #888,  #575757);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.gray:hover {
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
	background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.gray:active {
	color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
	background: -moz-linear-gradient(top,  #575757,  #888);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}
/*提交按钮*/
div.search-button {height: 80px}
input#clear-marks {float: right; margin-right: 10px}
input#reset-marks {float: right;}
span#submit-msg {margin-left: 5px;font-size: 13px}
span.success-msg {color:green}
span.error-msg {color:red}


/* 任务分配提交按钮 */
a.confirm-assign-user {margin-left: 10px;}

/*批量分配*/
a.confirm-batch-assign-user {margin-left: 10px;}
div#batch-assign-user-area {padding-left: 7px;height: 26px;line-height: 26px;margin:15px 15px 0 0;color: dodgerblue;}
div#batch-assign-user-area select {width: 100px;height: 30px;}
select {width: 60px;height: 20px;}

/*div#div-filter-assigned-user {float: right;}*/
label.filter-label, label.batch-assign-user {font-weight: bold; font-size: 13px;}

/*upload*/
div#upload {margin-bottom: 10px;}
